# Ignore environment variables
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore pycache in specific folders
indicators/__pycache__/
config/__pycache__/
trading/__pycache__/
strategies/__pycache__/

